.dot-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 586px; }

.dot-slider__content {
  max-width: 780px;
  margin: auto; }

.dot-slider__selectors {
  line-height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 80px; }

.dot-slider__selector {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  margin: 2.5px; }

.dot-slider__selector_active {
  background-color: #00E0D0;
  border-color: #00E0D0; }
