.clients {
  padding: 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.client-table {
  width: 380px; }

.client-table__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 60px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.client-table__item {
  width: 160px;
  padding: 20px 0; }

@media (max-width: 520px) {
  .client-table__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    justify-items: center; } }
