.testimonials {
	background-image: url('images/testimonials-background.png');
	background-size: cover;
}

.testimonials__second-inner {
	padding: 70px 0;
	max-width: 780px;
}

.testimonial {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 245px;
}

.testimonial__mark {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 100px;
	line-height: 0px;
	opacity: .9;
	padding-top: 30px;
}

.testimonial__quote {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	opacity: .85;
	letter-spacing: .25px;
}

.testimonial__name {
	line-height: 22px;
	font-size: 14px;
}

.testimonial__position {
	font-size: 13px;
	line-height: 22px;
	opacity: .7;
}

.slider__selectors {
	text-align: center;
	padding-top: 45px;
}

.slider__selector {
	display: inline-block;
	vertical-align: middle;
	width: 45px;
	height: 45px;
	padding: 0px 12.5px;
}

.slider__selector:hover {
	width: 70px;
	height: 70px;
	padding: 0;;
}

.slider__selector_active {
	width: 70px;
	height: 70px;
	padding: 0;
}


@media (max-width: 600px) {
	.testimonials__second-inner { height: 600px; }
	.testimonial { height: 345px; }

	.slider__selector {
		width: 35px;
		height: 35px;
		margin: 0px 12.5px;
	}
	
	.slider__selector:hover {
		width: 35px;
		height: 35px;
		margin: 0px 12.5px;
	}
	
	.slider__selector:active {
		width: 35px;
		height: 35px;
		margin: 0px 12.5px;
	}
}

@media (max-width: 400px) {
	.testimonials__second-inner { height: 650px; }
	.testimonial { height: 395px; }
}