.clients {
	padding: 70px 0;
	display: flex;
	justify-content: space-between;
}

.client-table { width: 380px; }

.client-table__items {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 60px;
	align-items: center;
}

.client-table__item {
	width: 160px;
	padding: 20px 0;
}

@media (max-width: 520px) {
	.client-table__items { grid-template-columns: 1fr; justify-items: center; }
}