.header {
	background-image: url('header-background.png');
	background-size: cover;
}

.header__second-inner {
	height: 670px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.roof {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 0;
}

.roof__inner {
	display: flex;
	justify-content: space-between;
	width: 525px;
}
	
.first-slide { 	text-align: center; }
	
.first-slide__hr {
	background-color: #00E0D0;
	width: 50px;
	height: 1px;
	margin: 30px auto;
}

.first-slide__text { margin-bottom: 50px; }

@media (max-width: 720px) {
	.roof__logo .logo { padding-right: 10px; }
	.roof .menu { margin: auto; }
}

@media (max-width: 590px) {
	.roof .menu { display: none; }
}